<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href="/tweets">Home</a>
            <a href="/explore">Explore</a>
            <a href="/profiles">Profile</a>
            <a href="/logout">Logout</a>
        </div>
        <div class="main">
            <h1>Hello</h1>
