<div class="w-[480px]  p-4 border  rounded-lg shadow   ">
    
    <%-include('../partials/searchbar')%>
        <div class="flow-root">
            <ul role="list" class="divide-y  divide-gray-700">
                <% users.forEach(user => { %>
                <a href="/profiles/<%=user._id%>">
                <li class="py-3 sm:py-4 ">
                    <div class="flex items-center space-x-4 ml-4">
                        <div class="flex-shrink-0">
                            <img class="w-16 h-16 rounded-full" src="<%=user.avatar%>" alt="Neil image">
                        </div>
                        <div class="flex-1 min-w-0">
                            <p class=" text-xl font-medium  text-white">
                                <%=user.name%>
                            </p>
                            
                        </div>
                       
                    </div>
                </li>
                </a>
                <%}) %>
            </ul>

       </div>
   
    </div>

 