<!-- <div class="overflow-auto">
    <div class="text-center bg-base-100 shadow-xl">NEWS</div>
<div class="card w-96 bg-base-100 shadow-xl">
    <figure><img src="/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">Shoes!</h2>
      <p>If a dog chews shoes whose shoes does he choose?</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">Buy Now</button>
      </div>
    </div>
  </div>
</div> -->
<div class="h-[80vh]"> 
<div class="  w-[480px]  p-4 mt-[8vh]   border-gray-200 rounded-lg shadow sm:p-8  h-[80%] min-h-[500px]  ">
    <div class="flex items-center justify-center mb-8  ">
        <h2 class=" text-2xl  font-bold leading-none  text-blue-800 text-center">NEWS</h2>
       
        
   </div>
    <div role="list" class="divide-y  divide-gray-700 h-[90%] overflow-y-auto rounded-lg border ">
        <%getNews.forEach(news => {%>
            <a href="<%=news.url%>" class="flex flex-col items-center  border  rounded-lg shadow md:flex-row md:max-w-xl  border-gray-700 bg-gray-800 hover:bg-gray-700">
                <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="<%=news.urlToImage%>" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-sm font-bold tracking-tight  text-white"><%=news.title%>-<%=news.author%></h5>
                </div>
            </a>
        <%})%>
</div>
   <!-- </div> -->
</div>
</div>



